# editor
.idea/
.vscode/

# misc
.DS_Store

.env*.local

node_modules
logs

.docs
.gitkeep
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# snyk cache file
.dccache

.turbo

jest-coverage

junit.xml
junit-*.xml

.yarn

# Coverage reports
coverage/
.coverage
coverage.xml
htmlcov/
*.lcov
.nyc_output/

# virtual environments
venv/
